.cards > u {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0;
}

.cards > ul > li {
  position: relative;
  color: white;
}

.history-vision-section h5#compliances {
  font-size: 21px;
}

.history-vision-section p {
  font-size: 15px;
}

.history-vision-section .icon-arrow-web {
  position: relative;
  top: -10px;
  left: 10px;
}

.highest-standard-text h4 a {
  font-size: 15px;
  text-decoration: none;
  font-family: var(--alt-font-family);
}

.highest-standard-text .icon-arrow-white {
  position: relative;
  top: -10px;
  left: 10px;
}

main .cards-container .default-content-wrapper a {
  all: unset;
  cursor: pointer;
  font-size: 15px;
  font-family: var(--alt-font-family);
}

.cards > ul > li a:any-link {
  font-family: var(--body-font-family);
  font-weight: 250;
  text-decoration: none;
  color: white;
}

.cards > ul > li h3 {
  margin-top: 0;
  font-size: 48px;
  font-weight: 300;
}

.cards > ul > li em {
  font-size: 24px;
  font-weight: 150;
  font-style: normal;
}

.cards > ul > li p strong {
  font-size: 15px;
  font-weight: 300;
}

.cards > ul > li h4 {
  font-size: 16px;
  font-weight: 200;
  text-decoration: underline;
}

.cards .cards-card-body {
  padding: 20px 30px;
}

.cards .cards-card-image {
  line-height: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

.history-vision-section .block {
  height: 400px;
}

.cards .cards-card-image picture {
  position: absolute;
  inset: 0;
}

.cards .cards-card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cards.fifty-fifty > ul > li {
  padding-top: 50px;
  padding-bottom: 50px;
}

main .section.cards-container {
  padding: 0;
}

main .cards-container .default-content-wrapper {
  justify-content: center;
  text-align: center;
  padding: 30px;
}

main .cards-container .default-content-wrapper em {
  font-size: 1.3em;
  font-style: normal;
}

main .cards-container .default-content-wrapper h3 {
  display: flex;
  justify-content: center;
  font-size: 2em;
  align-content: center;
  font-weight: 400;
}

main .cards-container .default-content-wrapper p {
  justify-content: center;
  font-style: normal;
  text-align: center;
  align-content: center;
}

main .cards-container .cards-wrapper {
  max-width: 100%;
}

.cards:not(.review) > ul > li:nth-child(even),
.cards:not(.review) > ul > li:nth-child(even) a:any-link {
  color: var(--text-color);
  color: white;
}

@media (min-width: 600px) {
  main .section.cards-container {
    /* padding-top: 50px; */
  }

  .cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 0;
  }

  main .cards-container .default-content-wrapper {
    padding-bottom: 50px;
  }

  main .cards-container .default-content-wrapper:last-child {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  main .cards-container .default-content-wrapper h2 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    align-content: center;
    font-weight: 400;
  }

  main .cards-container .default-content-wrapper h3 {
    display: flex;
    justify-content: center;
    font-size: 48px;
    align-content: center;
    font-weight: 400;
    text-align: center;
  }

  main .cards-container .default-content-wrapper em {
    display: flex;
    justify-content: center;
    font-size: 24px;
    align-content: center;
    font-weight: 400;
    text-align: center;
  }
}

@media (min-width: 900px) {
  main .section.cards-container {
    max-width: 100%;
    height: 100%;
  }

  .cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    height: 800px;
  }

  .fifty-fifty > ul > li .cards-card-body {
    padding-left: 50px;
  }

  .world-class-cutomer-loyality .cards-card-body p em {
    color: white;
  }

  .section .world-class-cutomer-loyality a {
    color: white;
    margin-left: -30px;
  }

  .section.fragment-container p a {
    font-size: 12px;
    margin: 0;
  }

  .meet-our-team-desktop-another-section ul li {
    height: 500px;
  }

  .cards > ul > li:nth-child(1) {
    grid-row: span 2;
  }

  main .meet-out-team-second-section.cards-container ul li {
    height: 771px;
  }

  .cards.review > ul > li:nth-child(1) {
    grid-row: span 1;
  }

  .cards.review > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    grid-gap: 0;
  }

  .review > ul > li .cards-card-body {
    position: absolute;
    bottom: 0;
  }

  .review > ul > li .cards-card-body p {
    margin: 0;
  }

  .review > ul > li .cards-card-body p br {
    display: none;
  }

  .review > ul > li .cards-card-body strong {
    display: block;
    text-align: right;
  }

  .meet-our-team-desktop-view ul li .cards-card-body strong {
    margin: 0;
  }

  .review > ul > li .cards-card-body strong:first-of-type {
    padding-top: 10px;
  }

  .cards > ul > li:first-child .cards-card-body {
    position: absolute;
    bottom: 0;
  }

  .cards > ul > li:nth-child(2) .cards-card-body {
    position: absolute;
    bottom: 0;
  }

  .fifty-fifty > ul > li:nth-child(2) .cards-card-body {
    position: relative;
    bottom: 0;
  }

  .cards > ul > li:nth-child(3) .cards-card-body {
    position: absolute;
    bottom: 0;
  }

  .cards.fifty-fifty > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    height: 800px;
  }

  .cards-card-body p:nth-child(1) em {
    font-style: italic;
  }

  .fifty-fifty > ul > li .cards-card-body em {
    font-size: 24px;
  }

  .cards.fifty-fifty > ul > li:nth-child(2n) {
    grid-row: span 2;
  }

  .fifty-fifty > ul > li:first-child .cards-card-body {
    position: absolute;
    top: 53px;
  }

  main .highest-standard-text h1 {
    position: relative;
    top: 150px;
  }

  main .highest-standard-text h4 {
    position: relative;
    top: 150px;
  }

  main .cards-container .default-content-wrapper h2 {
    display: flex;
    justify-content: center;
    font-size: 48px;
    align-content: center;
    font-weight: 400;
  }

  .history-vision-section .cards-card-image {
    height: 55%;
  }

  .meet-our-team-desktop-view.cards-container,
  .meet-our-team-desktop-another-section {
    width: 1140px;
    margin: 0 auto;
  }

  .meet-our-team-desktop-view.cards-container img {
    height: 500px;
  }

  .meet-our-team-desktop-view ul li .cards-card-body p em,
  .meet-our-team-desktop-another-section .cards-card-body p:nth-child(1) em {
    color: white;
    font-size: 14px;
    line-height: 1px;
  }

  .meet-our-team-desktop-another-section .cards-wrapper {
    max-width: 100%;
    height: 100%;
    height: auto;
  }

  .meet-our-team-desktop-view ul > li:nth-child(1) .cards-card-body,
  .meet-our-team-desktop-view ul > li:nth-child(2) .cards-card-body,
  .meet-our-team-desktop-view ul > li:nth-child(3) .cards-card-body {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    bottom: 50px;
    background: #727171;
    margin: 0 2px 5px;
  }

  .meet-our-team-desktop-view ul li .cards-card-body strong a {
    background: none;
    margin: 0;
    text-align: right;
    display: block;
    padding: 0;
  }

  .world-class-cutomer-loyality p.button-container a:hover {
    background: none;
  }

  .meet-our-team-desktop-view ul li .cards-card-body strong a:hover {
    background: none;
    margin: 0;
  }

  main .meet-our-team-mobile.cards-container {
    max-width: 100%;
    height: auto;
  }

  .world-class-cutomer-loyality .cards:not(.review) > ul > li:nth-child(2) a:any-link {
    color: white;
  }
}

main .history-vision-section .cards p em:nth-child(1) {
  padding-right: 200px;
  display: block;
}

@media (max-width: 600px) {
  .history-vision-section .block {
    height: 500px;
  }

  .cards > ul > li {
    position: relative;
    color: white;
    margin: 10px 0;
  }

  .cards > ul > li h3 {
    font-size: 21px;
    padding: 11px 0;
  }

  .section.related-case-studies-component h3 {
    padding: 27px 0;
  }

  .cards-wrapper ul {
    list-style: none;
    padding: 0;
  }

  .cards .cards-card-image img {
    max-width: 100%;
    display: block;
    object-position: top;
  }

  .cards > ul > li p strong {
    font-size: 8px;
  }

  .cards > ul > li em {
    font-size: 14px;
  }

  body {
    line-height: 17px;
  }

  .cards .cards-card-body {
    padding: 10px;
  }

  .cards-card-body p {
    margin: 0;
    padding: 0;
  }

  .cards > ul > li h4 {
    font-size: 6px;
  }

  main .cards-container .default-content-wrapper h3 {
    font-size: 24px;
    margin-top: 60px;
    display: flex;
  }

  main .cards-container .default-content-wrapper em {
    font-size: 14px;
    font-style: normal;
  }

  .meet-our-team-mobile .cards-card-image picture {
    position: relative;
    inset: 0;
  }

  .meet-our-team-mobile .cards-card-image {
    line-height: 0;
    z-index: -1;
    top: 0;
    width: 100%;
    display: contents;
  }

  .meet-our-team-mobile p {
    text-align: center;
    color: black;
  }

  .meet-our-team-mobile .cards > ul > li p strong {
    font-size: 21px;
    font-weight: 600;
    margin: 0 auto;
    padding: 0 0 20px;
  }

  .meet-our-team-mobile-another-section .cards > ul > li p strong {
    font-size: 21px;
    font-weight: bold;
  }

  .meet-our-team-mobile-another-section p {
    text-align: center;
    color: black;
  }

  .meet-our-team-mobile .cards > ul > li p {
    margin: 10px;
  }

  .meet-our-team-mobile .cards-card-body p:nth-child(3) strong {
    font-size: 14px;
    position: relative;
  }

  .meet-our-team-mobile-another-section .cards > ul > li p {
    margin: 10px;
  }

  .meet-our-team-mobile .cards > ul > li p:nth-child(2) {
    margin: 10px;
    margin-top: 20px;
  }

  .meet-our-team-mobile .cards-card-image img {
    width: calc(100% - 54px);
    height: calc(100% - 250px);
    margin: 0 auto;
  }

  .meet-our-team-mobile-another-section .cards-card-image picture {
    position: relative;
    inset: 0;
  }

  .meet-our-team-mobile-another-section .cards-card-image {
    line-height: 0;
    z-index: -1;
    top: 0;
    width: 100%;
    display: contents;
  }

  .meet-our-team-mobile-another-section .cards-card-body p:nth-child(3) strong {
    font-size: 14px;
  }

  .meet-our-team-mobile-another-section .cards > ul > li p:nth-child(2) {
    margin: 10px;
    margin-top: 20px;
  }

  .meet-our-team-mobile-another-section .cards-card-image img {
    width: calc(100% - 54px);
    height: calc(100% - 209px);
    margin: 0 auto;
  }

  .history-vision-section a:any-link a {
    color: white;
  }

  main .cards-container .default-content-wrapper a {
    all: unset;
    cursor: pointer;
    font-size: 14px;
  }

  .history-vision-section #we-empower-our-clients-to-build-stronger-relationships-with-their-customers {
    margin: 65px 0 25px;
    color: #313131;
  }

  .history-vision-section img:nth-child(2) {
    height: 90%;
    object-position: 0 -18px;
  }

  main .history-vision-section .cards p em:nth-child(1) {
    width: 280px;
    display: block;
  }

  .fragment-container.cards-container p a {
    font-size: 10px;
  }

  .meet-our-team-mobile .cards > ul > li a:any-link {
    font-family: var(--body-font-family);
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-top: 0;
  }

  main .cards-container .default-content-wrapper {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
}
