main .image-list {
  margin: 25px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1200px;
}

main .image-list .mobile-only {
  display: block;
}

main .image-list .desktop-only {
  display: none;
}

.section.image-list-container {
  padding-bottom: 0;
}

.section .image-list-container {
  justify-content: center;
  text-align: center;
}

main .image-list-container .default-content-wrapper h5 {
  font-size: 25px;
}

main .image-list-container .image-list {
  margin-top: 50px;
  gap: 10px;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
}



main .image-list-container .image-list > div {
  width: 150px;
}

main .image-list-wrapper .image-list {
  margin-top: 0;
  padding: 0px 60px 50px 0;
  gap: 50px 125px;
}

main .experience-voucher-image-list .image-list {
  background: none;
  padding-bottom: 0px;
}

main .image-list-wrapper .image-list > div {
  padding-left: 10px;
  padding-right: 10px;
  width: 70px;
}

main > .compliances-logos .image-list,
main > .associations-logos .image-list,
main > .logos-integration .imgage-list  {
  margin-top: 0;
  padding: 50px 60px 0px 0;
  gap: 50px 100px;
}

main .experience-voucher-image-list .image-list > div {
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
}

.tech-platform-logos img {
  width: 130px;
}

.logos-integration img {
  width: 140px;
}

.associations-logos img:nth-child(4) {
  width: 135px;
}

main .image-list-container h3{
  text-align: center;
  font-size: 36px;
  color:#000;
  margin: 11px 0px 0px 0px;
}
main .integration-free-solutions h3{
  text-align: center;
  font-size: 36px;
  color:#000;
}

@media (min-width: 600px) {
  main .image-list {
    margin: 50px;
  }

  main .section.image-list-container {
    padding-bottom: 0;
    padding-top: 40px;
  }

  main .logos-integration  h3,
  main .integration-free-solutions h3{
    margin-top:-70px;
  }

  main .logos-integration  h3 {
    margin-bottom:50px;
  }



  main .image-list-container .default-content-wrapper h4 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    padding:0px 12%;

  }

  main .image-list-container .default-content-wrapper h5 {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-top: 70px;
  }

  main .image-list-container .image-list {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  main .image-list-container .image-list > div {
    width: 150px;
  }

  main .image-list-wrapper .image-list {
    margin-top: 0;
    margin-bottom: 0px;
  }

  main .image-list-wrapper .image-list > div {
    padding-left: 20px;
    padding-right: 20px;
    width: 60px;
  }
}

@media (max-width: 600px) {
  .tech-platform-logos img {
    width: 90px;
  }

  .logos-integration img {
    width: 90px;
  }

  main .experience-voucher-image-list img {
    width: 100%;
    margin: 10px 0;
  }

  main .image-list-wrapper .image-list {
    margin-top: 0;
    padding: 30px 0;
    gap: 80px;
  }

  main .experience-voucher-image-list .image-list {
    margin-top: 0;
    padding: 30px 0;
    gap: 15px;
  }

  .associations-logos img:nth-child(4) {
    width: 90px;
  }
}
