main .image-list-container > div, main .image-list-xl-container > div,
main .image-list-l-container > div, main .image-list-m-container > div,
main .image-list-s-container > div, main .image-list-xs-container > div {
  margin: auto;
  max-width: 1200px;
  padding: 0;
}

main .image-list {
  margin: 25px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1200px;
}

main .image-list img {
  width: 300px;
  margin: 12.5px;
}    

main .image-list .mobile-only {
  display: block;
}

main .image-list .desktop-only {
  display: none;
}


@media (min-width: 600px) {
  main .image-list {
    margin: 50px;
  }

  main .section.image-list-container {
    padding-bottom: 0;
    padding-top: 30px;
  }


  main .section.image-list-container .default-content-wrapper h4 {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 200;
    text-align: center;
  }

  main .section.image-list-container .default-content-wrapper h5 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }

  main .section.image-list-container .image-list {
    margin-top: 50px;
    gap: 70px;
    margin-left: 0;
    margin-right: 0;
    background-color: whitesmoke;
  }

  main .section.image-list-container .image-list > div {
    width: 150px;   
  }
}