main .form-container p {
  font-size: 28px;
  text-align: left;
  display: block;
  margin: 60px 0;
}

main .form {
  padding: var(--spacing-m);
}

main .form[data-block-status="loaded"] {
  height: unset;
  visibility: unset;
}

main .field-wrapper .required {
  text-transform: capitalize;
}

main .form h2 {
  padding: var(--spacing-m) 0;
  font-size: var(--type-heading-l-lh);
  font-weight: normal;
}

main .form h3 {
  padding-top: var(--spacing-m);
  font-size: var(--type-heading-m-size);
  font-weight: bold;
  text-transform: uppercase;
}

main .field-wrapper > [id^="m"] {
  width: 49%;
  float: left;
  margin: 0 30px;
}

main .form input,
main .form textarea,
main .form select {
  border: 1px solid rgb(193 193 195);
  padding: 11px;
  border-radius: 0;
  width: 100%;
  max-width: 59rem;
  box-sizing: border-box;
  margin-top: 4px;
}

main .form textarea {
  min-height: 100px;
  background-color: #efeee7;
  margin-top: 30px;
}

::placeholder {
  font-family: var(--body-font-family);
}

.button-container .form-name-wrapper select {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(193 193 195);
  outline: none;
  padding: 11px 0;
  font-size: 1.25rem;
  color: #808080;
  background-color: var(--background-color);
  font-family: var(--heading-font-family);
}

main .form input:hover,
main .form select:hover {
  border-color: rgb(90 92 96);
}

main .form label {
  width: 100%;
  display: block;
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
  padding-bottom: var(--spacing-xs);
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: 800;
}

/* main .form label.required::after {
  content: "*";
  color: red;
  padding-left: 5px;
} */

main .form label a:any-link {
  font-family: var(--body-font-family);
}

main .form .field-wrapper {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: capitalize;
}

main .form .form-checkbox-wrapper {
  display: flex;
  margin: var(--spacing-s) 0;
}

main .form .form-checkbox-wrapper label a:any-link {
  font-weight: bold;
}

main .form .form-checkbox-wrapper input[type="checkbox"] {
  display: none;
}

main .form .form-checkbox-wrapper input[type="checkbox"] + label::before {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  content: " ";
  background: url("./checkbox.svg");
  background-size: contain;
}

main .form .form-checkbox-wrapper input[type="checkbox"]:checked + label::before {
  background: url("./checkbox-checked.svg");
  background-size: contain;
  content: "";
}

main .form .form-checkbox-wrapper label {
  font-size: var(--type-body-m-size);
  font-weight: normal;
  text-transform: none;
  display: block;
  width: 70vw;
  font-family: var(--alt-font-family);
}

main .form-checkbox-wrapper .required {
  width: 1000px;
}

main .form .button {
  cursor: pointer;
  background: rgb(20 115 230);
  color: white;
  border-radius: 16px;
  font-size: var(--type-body-s-size);
  font-weight: 300;
  padding: 6px 16px;
  border: none;
  font-family: adobe-clean, "Trebuchet MS", sans-serif;
}

main .form .form-submit-wrapper {
  padding-top: 30px;
}

main .form-submit-wrapper .button {
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  border-radius: 24px;
  display: inline;
  margin: 0 auto;
  margin-top: 50px;
  padding: 11px 49px 12px 50px;
  background-color: #00582e;
  font-family: var(--alt-font-family);
}

main .form input[type="text-field"],
main .form input[type="email"] {
  border: none;
  border-bottom: 1px solid rgb(193 193 195);
  outline: none;
  padding-left: 0;
}

main .form input[type="tel"] {
  border: none;
  border-bottom: 1px solid rgb(193 193 195);
  outline: none;
  padding-left:60px;
}

main .iti {
  position: relative;
  display: inline-block;
  width: 100%;
}

main .form input[type="text-field"]::placeholder {
  font-size: 20px;
}

main .form textarea::placeholder {
  font-size: 20px;
}

main .form input:hover,
main .form input:focus,
main .form select:hover {
  border-color: rgb(90 92 96) !important;
}

main .form input.invalid,
main .form textarea.invalid,
main .form select.invalid {
  border-color: red;
}

.grecaptcha-badge[style] {
  right: 0 !important;
  left: 20px !important;
  transition: none !important;
  position: inherit !important;
}

.button.g-recaptcha {
  margin-top: 30px;
  margin-left: 0;
}

main .field-wrapper > [id^="c"] {
  width: 15%;
  float: left;
  margin: 0;
}

main .field-wrapper > [id^="y"] {
  clear: both;
}

.button-container [class^="form-name-wrapper"] {
  width: 9%;
  margin-right: 20px;
  display: inline-block;
}

.button-container [class^="form-firstName"] {
  width: 33%;
  margin-right: 20px;
  display: inline-block;
}

.button-container [class^="form-lastName"] {
  width: 33%;
  display: inline-block;
}

.button-container [class^="form-email"] {
  width: 44%;
  margin-right: 20px;
  margin-left: 0;
  display: inline-block;
}

.button-container [class^="form-mobile"] {
  width: 33%;
  display: inline-block;
}

main .section .default-content-wrapper h1 {
  justify-content: left;
}

.address-container img {
  width: 26px;
}

/* main .iti__arrow {
  margin-left: 6px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #555;
} */

main .iti__arrow {
  box-sizing: border-box;
  height: 7px;
  width: 7px;
  border-style: solid;
  border-color: gray;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  margin-left:10px;
  margin-bottom: 5px;
}

/* main .iti__arrow--up {
  border-top: none;
  border-bottom: 6px solid #555;
} */

@media (max-width: 600px) {
  .button-container [class^="form-name-wrapper"] {
    width: 100%;
  }

  .button-container [class^="form-firstName"] {
    width: 100%;
  }

  .button-container [class^="form-lastName"] {
    width: 100%;
  }

  .button-container [class^="form-email"] {
    width: 100%;
  }

  .button-container [class^="form-mobile"] {
    width: 100%;
  }

  main .field-wrapper > [id^="c"] {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  main .field-wrapper > [id^="m"] {
    width: 100%;
    margin: 0;
  }

  main .form .form-checkbox-wrapper label {
    font-weight: normal;
    text-transform: none;
    display: block;
    width: 300vw;
    font-size: 15px;
    font-family: var(--alt-font-family);
  }
}
