main .form-container p {
  font-size: 28px;
  text-align: left;
  display: block;
  margin: 60px 0;
}

main .form {
  padding: var(--spacing-m);
}

main .form[data-block-status="loaded"] {
  height: unset;
  visibility: unset;
}
main input[type='text-field']{
  text-transform: capitalize;
  white-space: nowrap;
}

main .field-wrapper .required {
  text-transform: capitalize;
}

main .form h2 {
  padding: var(--spacing-m) 0;
  font-size: var(--type-heading-l-lh);
  font-weight: normal;
}

main .form h3 {
  padding-top: var(--spacing-m);
  font-size: var(--type-heading-m-size);
  font-weight: bold;
  text-transform: uppercase;
}

main .field-wrapper > [id^="m"] {
  width: 49%;
  float: left;
  margin: 0 30px;
}

main .form input,
main .form textarea,
main .form select {
  border: 1px solid rgb(193 193 195);
  padding: 11px;
  border-radius: 0;
  width: 100%;
  max-width: 59rem;
  box-sizing: border-box;
  margin-top: 4px;
}

main .form textarea {
  min-height: 100px;
  background-color: #fff;
  margin-top: 30px;
  font-size: 1.4rem;
  letter-spacing: 0;
  color: #585858;
  font-family: var(--alt-font-family);
}

::placeholder {
  /* font-family: var(--body-font-family); */
  font-family: var(--alt-font-family);
}

.button-container .form-name-wrapper select {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(193 193 195);
  outline: none;
  padding: 11px 0;
  font-size: 18px;
  color: var(--new-text-color);
  background-color: var(--background-color);
  font-family: var(--alt-font-family);
  color:#757575;
  font-weight: 300;
}

main .form input:hover,
main .form select:hover {
  border-color: rgb(90 92 96);
}

main .form label {
  width: 100%;
  display: block;
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
  padding-bottom: var(--spacing-xs);
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: 800;
}

/* main .form label.required::after {
  content: "*";
  color: red;
  padding-left: 5px;
} */

main .form label a:any-link {
  font-family: var(--body-font-family);
}

main .form .field-wrapper {
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: capitalize;
}

main .form .form-checkbox-wrapper {
  display: flex;
  margin: var(--spacing-s) 0;
  font-size:16px;
  color:#898989;
}

main .form .form-checkbox-wrapper label a:any-link {
  font-weight: normal;
  font-family: var(--alt-font-family);
}

main .form .form-checkbox-wrapper input[type="checkbox"] {
  display: none;
}

main .form .form-checkbox-wrapper input[type="checkbox"] + label::before {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  content: " ";
  background: url("./checkbox.svg");
  background-size: contain;
  margin-left:18px;
}

main .form .form-checkbox-wrapper input[type="checkbox"]:checked + label::before {
  background: url("./checkbox-checked.svg");
  background-size: contain;
  content: "";
}

main .form .form-checkbox-wrapper label {
  font-size: var(--type-body-m-size);
  font-weight: normal;
  text-transform: none;
  display: block;
  width: 910px;
  font-family: var(--alt-font-family);
  font-size:16px;
  color:#898989;
  font-weight: 300;
}

main .form-checkbox-wrapper .required {
  width: 930px;
    margin-left: 123px;
    text-align: justify;
}

main .form .button {
  cursor: pointer;
  background: rgb(20 115 230);
  color: white;
  border-radius: 16px;
  font-size: var(--type-body-s-size);
  font-weight: 300;
  padding: 6px 16px;
  border: none;
  font-family: adobe-clean, "Trebuchet MS", sans-serif;
}

main .form .form-submit-wrapper {
  padding-top: 30px;
}

main .form-submit-wrapper .button {
  text-align: center;
  font-size: 16px;
  color: #313131;
  font-weight: 600;
  border-radius: 34px;
  display: inline;
  margin: 0 auto;
  margin-top: 60px;
  padding: 16px 50px;
  background-color: #fff;
  border:1.5px solid #313131;
  font-family: var(--alt-font-family);
}
main .form-submit-wrapper .button:hover{
  background-color: #313131;
  color:#fff;
}

main .form input[type="text-field"]{
  border: none;
  border-bottom: 1px solid rgb(193 193 195);
  outline: none;
  padding-left: 0;
}

main .form input[type="email"] {
  border: none;
  border-bottom: 1px solid rgb(193 193 195);
  outline: none;
  padding-left: 0;
  margin-left:0px;
  width:390px;
}
main .grecaptcha-badge{
  margin:0 auto;
}
main .form-yourMessage-wrapper ::placeholder{
  text-align: center;
  padding-top: 25px;
  
}

main .form input[type="tel"] {
  border: none;
  border-bottom: 1px solid rgb(193 193 195);
  outline: none;
  padding-left: 0px;
  margin-left:127px;
  width:402px;
}

main .iti {
  position: relative;
  display: inline-block;
  width: 67%;
}

main .form input[type="text-field"]::placeholder,
main .form input[type="tel"]::placeholder,
main .form input[type="email"]::placeholder {
  font-size: 18px;
  color:#757575;
  font-weight: 300;
}

main .form textarea::placeholder {
  font-size: 18px;
  color:#757575;
  font-weight: 300;
}

main .form input:hover,
main .form input:focus,
main .form select:hover {
  border-color: rgb(90 92 96) !important;
}

main .form input.invalid,
main .form textarea.invalid,
main .form select.invalid {
  border-color: red;
}

.grecaptcha-badge[style] {
  right: 0 !important;
  left: 20px !important;
  transition: none !important;
  position: inherit !important;
}

.button.g-recaptcha {
  margin-top: 30px;
  margin-left: 0;
}

main .field-wrapper > [id^="c"] {
  width: 15%;
  float: left;
  margin: 0;
}

main .field-wrapper > [id^="y"] {
  clear: both;
}

.button-container [class^="form-name-wrapper"] {
  width: 9%;
  margin-right: 20px;
  display: inline-block;
}

.button-container [class^="form-firstName"] {
  width: 33%;
  margin-right: 20px;
  display: inline-block;
}

.button-container [class^="form-lastName"] {
  width: 33%;
  display: inline-block;
}

.button-container [class^="form-mobileNumber"] {
  width: 33%;
  display: inline-block;
}
.button-container [class^="form-emailAddress-wrapper"] {
  width: 33%;
  display: inline-block;
}
.button-container [class^="form-emailAddress-wrapper"] {
  width: 9%;
  display: inline-block;
}
.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
  right: auto;
  left: 0;
  border-bottom: 1px solid rgb(193 193 195);
  width: 108px;
}

.button-container [class^="form-email"] {
  width: 40%;
  margin-right: 20px;
  margin-left: 0;
  display: inline-block;
}

.button-container [class^="form-mobile"] {
  width: 55%;
  display: inline-block;
}

main .section .default-content-wrapper h1 {
  justify-content: left;
}

.address-container img {
  width: 26px;
}

main [class^="iti__arrow"] {
  box-sizing: border-box;
  height: 7px;
  width: 7px;
  border-style: solid;
  border-color: gray;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-left: 65px;
  margin-bottom: 5px;
}

/* main .iti__arrow--up {
  border-top: none;
  border-bottom: 6px solid #555;
} */

main .contact-us-section h1{
  text-align: center;
  font-size:36px;
  padding: 39px 0px 0px 0px;
  font-weight: 400;
  color:#313131;
}

.section > .form-wrapper {
  margin: auto;
  text-align: center;
}

@media (max-width: 600px) {
  .button-container [class^="form-email"] {
    width: 100%;
    margin-right: 20px;
    margin-left: 0;
    display: inline-block;
  }
  main .form input[type="tel"] {
    border: none;
    border-bottom: 1px solid rgb(193 193 195);
    outline: none;
    padding-left: 0px;
    margin-left: 120px;
    width: 100%;
}
main .form-submit-wrapper .button{
  display: block;
}

.button-container [class^="form-mobile"] {
  width: 64%;
  display: inline-block;
}
  .button-container [class^="form-firstName"] {
    width: 100%;
    margin-right: 20px;
    display: inline-block;
}
.button-container [class^="form-name-wrapper"] {
  width: 100%;
  margin-right: 20px;
  display: inline-block;
}
.button-container [class^="form-lastName"] {
  width: 100%;
  display: inline-block;
}

  main .form input[type="email"] {
    border: none;
    border-bottom: 1px solid rgb(193 193 195);
    outline: none;
    padding-left: 0;
    margin-left: 0px;
    width: 100%;
}

main .form-checkbox-wrapper .required {
  width: 930px;
  margin-left:  -19px;
  text-align: justify;
}

  main .field-wrapper > [id^="c"] {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  main .field-wrapper > [id^="m"] {
    width: 100%;
    margin: 0;
  }


  main .contact-us-section h1 {
    text-align: center;
    font-size: 32px;
    padding: 0px 0px 0px 0px;
    font-weight: 400;
    color: #313131;

}
main .iti {
  position: relative;
  display: inline-block;
  width: 100%;
}

.button-container [class^="form-mobile"] {
  width: calc(100% - 120px);
  display: inline-block;
}


 .button-container .form-name-wrapper select {
  font-size: 16px;
  color:#757575;
  font-weight: 300;
  
}

main .form input[type="text-field"]::placeholder,
main .form input[type="tel"]::placeholder,
main .form input[type="email"]::placeholder {
  font-size: 16px;
  color:#757575;
  font-weight: 300;
}
main .form textarea::placeholder {
  font-size: 16px;
  color:#757575;
  font-weight: 300;
}
.section > .form-wrapper {
  margin: auto;
  text-align: left;
}
main .form .form-checkbox-wrapper input[type="checkbox"] + label::before {
  margin-bottom: 70px;
  
  }

main .form .form-checkbox-wrapper label:before {
  font-weight: normal;
  text-transform: none;
  display: -webkit-box;
  width: calc(100% + 25px);
  font-size: 15px;
  font-family: var(--alt-font-family);
}
main .form .form-checkbox-wrapper label:after {
  font-weight: normal;
  text-transform: none;
  display: -webkit-box;
  width: calc(100% + 25px);
  font-size: 15px;
  font-family: var(--alt-font-family);
}

}

input[type="text"]::first-letter {
  text-transform: capitalize;
}
