.section.columns-container {
    padding-top: 40px;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.section.columns-container .default-content-wrapper {
    justify-content: center;
}

.columns > div > div h4 {
    font-size: 18px;
    color: gray;
}

.columns > div > div p em {
    font-size: 18px;
    font-style: normal;
}

.columns > div > div .button-container {
    margin-top: 5%;
    font-size: 18px;
    text-decoration: underline;
}

.section.columns-container .default-content-wrapper h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    align-content: center;
    margin-bottom: 5px;
}

.section.columns-container .default-content-wrapper h4 {
    font-size: 1.5em;
}

.section.columns-container .default-content-wrapper .button-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 20px;
}

.section.columns-container .button-container a {
    all: unset;
    cursor: pointer;
}

.columns > div {
    display: flex;
    flex-direction: column;
}

.columns > div > div {
    border-top: 1px solid black ;  
}

.columns > div > div:first-child {
    margin-top: 2%;
}

.columns > div > div:last-child {
    margin-top: 2%;
}

.columns img {
    width: 100%;
}

/* logo columns */
.columns > div > div > p img {
    display: inline-block;
    width: 100px;
    padding: 0;
}

.columns > div > div.image-set > p img {
    width: auto;
    height: 30px;
}


@media (min-width: 600px) {
    .columns > div > div h3 {
        font-size: 35px;
    }

    .section.columns-container .default-content-wrapper h4 {
        font-size: 1.8em;
    }

    .section.columns-container .columns-wrapper .columns {
        padding-bottom: 50px;
    }

    .section.columns-container .columns-wrapper .columns > div {
        padding-top: 50px;
    }
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }

    .section.columns-container .default-content-wrapper h4 {
        font-size: 1.8em;
    }
}

@media (max-width:480px){
    .section.columns-container .default-content-wrapper h2{
        font-size: 28px;
        line-height:0px;
    }
    .section.columns-container .default-content-wrapper .button-container {
    
        margin-bottom: 58px;
    }
    h3#connections-tech-platforms, 
    h3#mobile-digital, 
    h3#partnership-partnerships,
    h3#support-contact-centre {
        display: block;
        text-align: center;
        font-size:21px;
    }
    span.icon.icon-connections, 
    span.icon.icon-mobile, 
    span.icon.icon-partnership,
    span.icon.icon-support {
      display: block;
    }
    .columns > div > div h4 {
        font-size: 14px;
        color: gray;
        text-align: center;
    }
    .columns-wrapper p {
        text-align: center;
        font-size: 14px;
    }
    h3#connections-tech-platforms span,
     h3#mobile-digital span, 
     h3#partnership-partnerships span,
     h3#support-contact-centre span  {
        margin: 22px;
    }
    .columns > div > div p em {
        font-size: 14px;
        font-style: normal;
    }
    .columns > div > div .button-container {
        font-size: 9px;
    }
    main .section.background{
        zoom:69%;
    }
   
    main .section.background .default-content-wrapper h2 {
        text-align: center;
        font-size: 28px;
    }
    main .section.background .default-content-wrapper h2:nth-of-type(2) {
        font-size: 18px;
    }
    h2#whats-new {
        font-size: 21px;
    }
}