body, * {
  padding:0px;
  padding:0px;
  box-sizing: border-box;
}

.banner_below_text{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding:15px 0px;
}
.banner_below_text span{
  border-bottom:5px solid #db2828;
  width:85px;
  display: block;
  margin:auto;
  margin-top:-10px;
}
.img-section p{
  text-align: center;
  font-size: 11px;
  padding: 10px 0px;
}
.img-section p:nth-child(1){
  font-size: 17px;
  font-weight: 600;
}
.benefits h5  {
  text-align: center;
  background-color: #e3f1fb;
  color:#a333c8;
  font-size: 16px;
  padding: 5px 0px;
}
.optional_packages_text h5{
  font-size: 16px;
  font-weight: 600;
  margin:0px;
}
.optional_packages_text{
   text-align: center;
  background-color: #e3f1fb;
  color:#a333c8;
  padding: 5px 0px;
}
.optional_packages_text p{
  color:black;
  font-size: 12px;
  padding: 0px;
}
.member-help-desk{
  text-align: center;
}
.member-help-desk p{
  padding: 0px;
  margin:0px;
}

.privacy-policy{
  font-size: 12px;
  color:gray;
}
.privacy-policy p{
  margin:0px;
}
ul li{
  font-size: 13px;
}
ul{
  padding-left: 20px;

}






@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
