/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}
  
main .hero-container {
    margin-top: -40px;
    padding: 0;
}
  
main .hero {
    position: relative;
    min-height: 300px;
    height: 500px;
}

main .hero h1 {
    margin: 0 60px;
    color: white;
    position: relative;
    top: 180px;
    font-size: 1.8em;
}


main .hero picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}

main .hero img {
    object-fit: cover;
    object-position: left;
    position: relative;
    left: 0;
    width: auto;
    height: 100%;
}

main .hero h6 {
    position: absolute;
    bottom: 0;
    left: 60px;
    color: white;
    font-size: 0.7em;
}

@media (min-width: 900px) {
    main .hero {
        height: 710px;
    }

    main .hero h1 {
        top: 370px;
        max-width: 50%;
        font-size:48px;
    }    
}

@media (min-width: 1200px) {
    main .hero img {
        object-position: unset;
        width: 100%;
        height: 100%;
    }
}


@media (max-width:480px){
    main .hero picture {
        position: absolute;
        z-index: -1;
        top: 58px;
        max-width: 100%;
        display: block;
        left: 0;
        height: calc(100% - 290px);
        right: 0px;
        box-sizing: border-box;
    }
    main .hero h1 {
        margin: 0 0px;
        color: white;
        position: relative;
        top: 155px;
        text-align: center;
        font-size: 28px;
    }
    main .hero-container > div {
        max-width: unset;
        max-height: 224px;
    }
    main .hero h6 {
        position: absolute;
        bottom: 0;
        left: 60px;
        color: white;
        font-size: 0.7em;
        display: none;
    }
}