main .section.subnav-container {
    padding: 0 16px;
    border-bottom: 1px solid #616161;
}

@media (min-width: 900px) {
    main .section.subnav-container {
        padding: 0;
    }

    main .section.subnav-container .subnav-wrapper {
        margin: 0;
        max-width: 100%;
        top: 1%;
    }

    main .section.subnav-container .subnav-wrapper .subnav > div > div {
        display: flex;
        justify-content: space-around;
    }

    main .section.subnav-container .subnav-wrapper .subnav p { 
        font-size: 16px;
    width: 19%;
    border-left: 1px solid #979797;
    height: 26px;
    margin:0px;
    text-align: center;
    padding: 10px;
}
main .section.subnav-container .subnav-wrapper .subnav p:hover {
    background:#484747;
    color: white;
}
main .section.subnav-container .subnav-wrapper .subnav p:hover a {
    color: white;
}
    

    main .section.subnav-container .subnav-wrapper .subnav a:hover { 
        text-decoration: none;
        
    }
}

@media (max-width:480px){
    .subnav.block {
        text-align: center;
        font-size: 13px;
    }
    .subnav-wrapper {
        margin-top: -20px;
    }
    main .section.subnav-container {
        padding: 18px 0px 0px 0px;
        position: relative;
        top: -34px;
    }
    a:any-link {
        font-family: var(--alt-font-family);
        /* color:white; */
        text-decoration: none;
    }
}