main .subnav-wrapper {
  opacity: 1;
}

main .subnav {
  font-size: 13px;
  text-align: center;
}

main .subnav a:any-link {
  text-decoration: none;
}

  main .subnav-wrapper {
    margin: 0 auto;
    max-width: 1230px;
    top: 1%;
  }

  main .subnav > div > div {
    display: flex;
    justify-content: space-around;
  }

  main .subnav a {
    font-size: 22px;
    width: 100%;
    margin: 62px 12px 0px 0px;
    text-align: center;
    padding: 20px 39px 20px 39px;
    box-shadow: 0px 4px 14px 0px #00000014;
    border-radius: 16px;
    cursor: pointer;
  }
  main .subnav p{
    margin:1px;
  }

  main .subnav svg {
    padding: 0px 0px 10px 0px;
  }

  main .subnav-wrapper .icon svg {
    position: relative;
    top: 4px;
    bottom:4px;
    height: 60px;
    width: 70px;
    margin-left: 12px;
    display: block;
    margin:0 auto;
  }

@media (max-width: 768px) {
  .subnav-wrapper {
    min-height: 130px;
  }

  main .subnav {
    font-size: 15px;
    text-align: center;
    margin-top:25px;
  }

  main .subnav > div > div {
    display: flex;
    flex-wrap: wrap;
  }
  main .subnav a {
    font-size: 16px;
    width:40%;
    margin:8px 4px;
    text-align: center;
    padding: 0px 5px 10px 5px;
    box-shadow: 0px 4px 14px 0px #00000014;

  }

  main .subnav-wrapper .icon svg {
    position: relative;
    top: 4px;
    bottom: 4px;
    height: 40px;
    width: 50px;
    margin-left: 12px;
    display: block;
    margin: 0 auto;
  }
  main .why-us .default-content-wrapper p{
    margin-top:150px;
  }

  main .subnav p {
    margin: 1px;
    font-size: 20px;
    padding: 6px 0px 0px 0px;
    line-height: 25px;
    color:#313131;
    font-weight: 300;
}
main .subnav-container {
  width: 100%;
  margin: 0 auto;
}


}

