main .contact-center {
  background-color: white;
  padding: 20px 40px;
  text-align: center;
  margin-bottom: 80px;
}

main .contact-center h2 {
  font-size: 48px;
}

main .contact-center p {
  margin-bottom: 0;
}

main .contact-center p:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

main .contact-center img {
  width: 50px;
}

@media (min-width: 900px) {
  main .contact-center {
    padding: 20px 20%;
  }

  main .contact-center p:last-child {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

@media (max-width: 480px) {
  main .contact-center h2 {
    font-size: 21px;
  }

  .contact-center.block p {
    font-size: 15px;
  }

  main .contact-center {
    background-color: white;
    padding: 20px 15px;
    text-align: center;
    margin-bottom: 20px;
  }

  main .contact-center img {
    width: 20px;
  }

  /* main .section.background h3 {
    font-weight: 400;
    font-size: 21px;
  } */

  main .section.background h4 {
    font-size: 14px;
  }
}
