body {
	margin: 0px;
	padding: 0px;
}
.bg {
	background: #273745;
	padding: 20px 15px;
}
.sub-bg {
	background: #273745;
	padding: 20px;
}
.logo-landing {
	width: 100%;
	height: auto;
	text-align: center;
}
.logo-landing img {
	max-width: 100%;
	display:inline-block
}
.no-pading {
	padding: 0px;
}
.form-control input {
	box-shadow: none;
	padding: 20px 15px;
	width: 100%;
	background: #fff;
	border-radius: 2px;
	color: #333;
	font-size: 20px;
	font-weight: 400;
}
.form-group input[type=checkbox] {
	width: 6%;
	/*margin: 0px;*/
	padding: 0px;
	float:left;
}
.form-group label {
	width: 94%;
	color: #fff;
	padding-left: 8px;
	font-size: 14px;
	font-weight: 400;
}
.form-group h2 {
	width: auto;
	color: #fff;
	font-size: 18px;
	padding: 0px;
	margin-right: 20px;
	text-align: left;
}
.title-color {
	color: #fff;
    font-size: 17px;
}
.form-control .form-group {
	margin-bottom: 20px;
}
.form-control {
	background-color: #fff;
	padding: 10px 15px;
	margin: 0px 0px 30px;
	height:50px;
	border: 1px solid #fff
}
.form-control button, input[type=button], input[type=submit] {
	margin: 0px auto;
	font-size: 15px;
	text-align: center;
	width: auto;
	height: auto;
	text-transform: uppercase;
	font-style: 600;
	background: #E4C883;
	border: none;
	color: #333;
	margin-top: 25px;
}
.panel-heading {
	margin: 0;
	font-size: 35px;
	color: #fff;
	text-align: center;
	padding: 30px 0px;
}
.col-centered {
	float: none;
	margin: 0 auto;
}
.thankyou-cont {
	width: 100%;
	float: none;
	margin: 0px auto;
}
.thankyou-social {
	float:left;
	text-align:center;
	width:100%;
	height:auto;
	display:inline-flex;
}
.thankyou-social ul {
	margin: 0 auto;
	padding: 0px;

}
.thankyou-social ul li {
	display: inline-block;
	float: left;
	margin-left: 10px;
}
.thankyou-social ul li a {
	display: inline-block;
	text-indent: -9999px;
	width: 40px;
	height: 40px;
	margin: 0;
}
.thankyou-social ul li.i-facebook a {
	background: url(http://hotelmemberships.com/social-thanku-ico/facebook.png) no-repeat 0;

}
.thankyou-social ul li.i-twitter a {
	background: url(http://hotelmemberships.com/social-thanku-ico/twtr.png) no-repeat 0;
}
.thankyou-social ul li.i-whatsapp a {
	background: url(http://hotelmemberships.com/social-thanku-ico/whtsap.png) no-repeat 0;

}
.thankyou-body { text-align: justify; margin:25px 0px;}
.footer-cont {
	background: #273745;
	padding: 25px;
	width: 100%;
	float: left;
	text-align:center;
}
.footer-cont span{ color:#fff; }
.footer-cont p {
	color: #fff;
	text-align: center;
	font-size: 14px;
	padding: 5px;
}
.footer-cont a {
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	padding: 5px;
}
 @media (min-width: 1200px) {
.container {
	width: 500px !important;
}
.thankyou-cont {
	max-width: 650px;
}
    .col-md-5 { width:45%;
    }


}
