footer {
  padding: 2rem;
  padding-top: 3%;
  background-color: #454545;
  font-family: var(--alt-font-family);
  font-size: var(--body-font-size-xs);
}

.footer-wrapper {
  height: 200px;
}

footer .footer {
  max-width: 1140px;
  margin: 0 auto;
}

footer .footer p {
  margin: 0;
}

footer .footer p a {
  color: white;
  font-weight: 200;
}

footer .footer p a:hover {
  text-decoration: none;
}

footer .footer p a.active {
  font-weight: bold;
}

footer .footer > div > div:first-child {
  float: left;
  width: 25%;
  line-height: 40px;
  color: white;
  font-weight: 400;
}

footer .footer > div > div:nth-child(2) {
  float: left;
  width: 25%;
  line-height: 40px;
  color: white;
  font-weight: 400;
}

footer .footer > div > div:last-child {
  float: right;
  width: 50%;
  height: auto;
  text-align: right;
  color: white;
  font-weight: 300;
}
.footer-wrapper img {
  margin-top: 19px;
}
footer.footer-wrapper p:nth-child(1) {
  border-bottom: 1px solid gray;
  line-height: 60px;
  font-weight: 600;
}
footer.footer-wrapper p:nth-child(2) {
  margin-top:20px;
}

@media (max-width:480px){
  footer .footer > div > div:last-child {
    float: left;
    width: 100%;
    text-align: left;
}
footer .footer > div > div:first-child {
  float: left;
  width: 50%;
  line-height: 40px;
  color: white;
  font-weight: 400;
}

footer .footer > div > div:nth-child(1),
footer .footer > div > div:nth-child(2) {
  font-size: 14px;
  font-weight: 600;
}
footer .footer p a {
  font-size: 12px;

}
footer .footer > div > div:nth-child(3){
  font-size:9px;
}
footer {
  padding: 1rem;
}
.footer-wrapper {
  min-height: 250px;
}

}