@font-face {
  font-family: argesta-display-fallback;
  src: local("Times New Roman");
  size-adjust: 112.2%;
  ascent-override: 85%;
}

:root {
  /* colors */
  --link-color: var(--text-color);
  --link-hover-color: var(--text-color);
  --background-color: #EFEEE7;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #313131;
  --nav-background-color: rgba(0 0 0 / 25%);

  /* fonts */
  --body-font-family: argesta-display, argesta-display-fallback, "Times New Roman", serif;
  --body-font-weight: 300;
  --heading-font-family: var(--body-font-family);
  --heading-font-weight: var(--body-font-weight);
  --alt-font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 80px;
  --mobile-nav-height:60px;
}

body {
  font-size: var(--body-font-size-m);
  font-weight: var(--body-font-weight);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.3;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: 1.25;
  margin-top: .5em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}
p{
  font-family: var(--alt-font-family);
}
a:any-link {
  font-family: var(--alt-font-family);
  color: var(--link-color);
  text-decoration: none;
  
}
.new-image-set a {
  font-size: 15px;

}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link, button {
  font-family: var(--alt-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal; 
  font-weight: 600;
  cursor: pointer;
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
} 


main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 64px 16px;
}

main img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

main .icon svg {
  position: relative;
  top: 12px;
}

/* section with background */
main .section.background {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
  color: white;
  padding: 0;
}

main .section.background > picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

main .section.background > picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section .default-content-wrapper {
  text-align: center;
}

.section .default-content-wrapper h3{
  text-align: left;
}

.section .default-content-wrapper ul li {
  text-align: left;
  font-size:0.8em;
}

.section .default-content-wrapper h1 {
  margin-top: 0;
}

.section .default-content-wrapper em {
  font-style: normal;
}

.section .default-content-wrapper strong {
  font-size: 0.7em;
}

main .section.background .default-content-wrapper {
  padding-left: 20px;
  margin-top: 50px;
  max-width: 100%;
  padding-right: 20px;
  padding-bottom: 30px;
}

main .section.background h1,
main .section.background h2,
main .section.background h3,
main .section.background h4,
main .section.background h5,
main .section.background h6 {
  font-weight: 400;
}

main .section.background p {
  font-weight: 200;
  font-size: 28px;
}

main .section.background .button-container a {
  all: unset;
  cursor: pointer;
  font-family: var(--alt-font-family);
  font-weight: 200;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main .section.background .default-content-wrapper h2 {
  text-align: center;
  font-size: 48px;
}

main .section.align .default-content-wrapper h2 {
  text-align: center;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 1.8em;
}

main .section.background .default-content-wrapper h2:nth-of-type(2) {
  font-size: 28px;
}

.section.divide {
  padding: 0;
}

main .section .default-content-wrapper strong {
  font-size: 0.9em;
}

main .section .default-content-wrapper em {
  font-size: 1em;
  padding-bottom: 0;
  align-content: center;
}

main .section .default-content-wrapper p {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 0.8em;
  margin-top: 0;
}

main .section .default-content-wrapper h1 {
  font-size: 2em;
}

/* legal theme */
.legal main .section .default-content-wrapper p {
  display: block;
  text-align: left;
  padding: 0 20px;
  justify-content: left;
  gap: 10px;
  font-size: 0.7em;
}

.legal main .section .default-content-wrapper p a {
  display: block;
}

.legal main .section .default-content-wrapper h3 {
  text-align: left;
  padding: 30px 20px;
  font-size: 1.2em;
}

.legal main .section .default-content-wrapper h4 {
  text-align: left;
  font-size: 0.7em;
  padding: 0 20px;
  padding-bottom: 10px;
}

.legal main .section {
  padding-bottom: 60px;
}
/* by azam */
.new-image-set .icon-arrow-icon svg {
  top: -3px;
}

.arrow-icon-style p {
  font-size: 15px;
  text-indent: -13px;
  margin-left: 19px;
}

/* for carve-section */
main .section.background.carve-career .default-content-wrapper p{
  color:black;
  padding:50px 0px;
}
main .section.background.carve-career .default-content-wrapper h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  margin-left:0px;
  max-width:700px;
  color:gray;
  margin:0 auto;
    padding-top: 0px;
}
.section.background.carve-career h1{
  color:black;
}

.section.background.carve-career p em{
 color:gray;
 font-size:28px;
}
.section.background.carve-career p:nth-child(1) {
  width:90px;
  height:90px;
  margin:0 auto;
  padding:70px 0px;
  
}
.section.background.carve-career {
  height: 500px;
}
main .section.background.carve-career .default-content-wrapper {
  margin-left: 50px;
  margin-top: 20px;
}

	
/* job description css start here */
.section.job-description-page > .default-content-wrapper p{
  display: block;
}
.job-description-page h3 {
text-align: left;
border-bottom: 1px solid gray;
margin-bottom: 40px;
margin-top:100px;
}
.job-description-page ol{
padding-left:15px;
}
.job-description-page ol li{
padding: 6px 0px;
}
.job-description-page p{
text-align:left;
padding: 10px 0px;
line-height: 25px;
}
.job-description-page p{
display: inline-block;
}
.job-description-page h2{
margin-bottom: 0px;
}
.job-description-page p:nth-child(3), .job-description-page p:nth-child(4){
text-align:center;
}
.job-description-page p:nth-child(4),
.job-description-page p:nth-child(8){
border:1px solid gray;
width:100px;
padding: 3px;
text-align: center;
margin:0 auto;
cursor: pointer;
}
.job-description-page p:nth-child(8){
margin-top: 50px!important;
}
.job-description-page h2:nth-child(9){
font-size: 30px;
margin:50px 0px;
}
.job-description-page p:nth-child(4):hover, .job-description-page p:nth-child(8):hover{
background-color: black;
color:white;
}
.job-description-page p{
text-align: left;
margin:0px;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
    padding-bottom: 20px;
  }  

  main .section.background .default-content-wrapper h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 10px;
  }

  main .section.background .default-content-wrapper h4 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding-left: 0;
    color: white;
    padding-bottom: 20px;
  }

  main .section .default-content-wrapper p {
    gap: 10px;
    font-size: 15px;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  main .section .default-content-wrapper em {
    font-size: 1em;
    padding-bottom: 15px;
  }

  main .section .default-content-wrapper h1 {
    font-size: 48px;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
    font-weight: 100;
  }

  main .section.background .default-content-wrapper {
    margin-bottom: 50px;
  }

  main .section.divide {
    background-color: #454545;
    padding: 30px;
  }

  main .section .default-content-wrapper h5 {
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }

  main .section .default-content-wrapper p picture {
    padding-top: 30px;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 28px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;  
  }
  
  .section > div {
    max-width: 1200px;
    margin: auto;
  }

  main .section.background{
    height: 700px;
  }

  main .section.background .default-content-wrapper {
    margin-left: 50px;
    margin-top: 200px;
  }

  main .section.background > picture {
    margin-left: -200px;
}

  main .section.background  .default-content-wrapper > * {
    max-width: 100%;
  }

  main .section.background .default-content-wrapper h2 {
    text-align: left;
  }

  main .section.background .default-content-wrapper h3 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    /* margin-left: 100px; */
    padding-top: 50px;
  }

  main .section.background .default-content-wrapper h4 {
    /* margin-left: 100px; */
    text-align: center;
  }

  main .section.background .default-content-wrapper p {
    text-align: left;
  }

  main .section.background .default-content-wrapper .button-container {
    justify-content: left;
  }

  main .section .default-content-wrapper p.button-container strong a {
    all: unset;
    cursor: pointer;
  }

  main .section.divide {
    background-color: #454545;
    padding: 30px;
  }

 
}

@media (min-width: 1200px) {
  main .section.background .default-content-wrapper h3 {
    /* margin-left: 150px; */
    max-width: 82%;
    margin:0 auto;
  }

  main .section.background .default-content-wrapper h4 {
    /* margin-left: 150px; */
  }

  main .section.background .default-content-wrapper p {
    text-align: left;
  }

  main .section.background .default-content-wrapper p.button-container {
    display: block;
    clear: both;
  }

  main .section .default-content-wrapper strong {
    font-size: 1em;
  }

  h2#be-a-part-of-our-innovative-teams-that-work-on-the-best-technology-and-inspire-you-to-create-extraordinary-outcomes {
    width: 600px;
    font-family: var( --alt-font-family);
}

/* progressive section and block appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}
/* by azam */

h4#view-our-privacy-policy- a {
  color: white;
}
.default-content-wrapper ol li {
  text-align: left;
  font-size: 16px;
}

.section.compliances-logos.image-list-container div:nth-child(1) img {
  width:60px;
}

.section.compliances-logos.image-list-container div:nth-child(2) img {
  width:60px;
  
}

.section.compliances-logos.image-list-container div div:nth-child(3) img{
  width:150px;
  position: relative;
    right: 34px;
    
}

.section.compliances-logos.image-list-container div div:nth-child(4) img{
  width:100px;
    
}

.section.compliances-logos.image-list-container div:nth-child(5) img {
  width:60px;
  
}

.section.associations-logos.image-list-container div:nth-child(2) img {
  width:80px;
}
.section.associations-logos.image-list-container div div:nth-child(3) img {
  width:80px;
}
.section.associations-logos.image-list-container div div:nth-child(5) img {
  width:80px;
}
.section.tech-platform-logos.image-list-container > .image-list-wrapper > div > div:nth-child(1) img {
  
  width:90px;
}

.carve-career-all-section img {
  width: 100px;
}
.carve-career-all-section h1{
color:black;

} 
.carve-career-all-section p{
color:#313131;
/* font-size:var(--heading-font-size-m)!important; */
font-size:24px!important;
  width: 60%;
    margin: 0 auto;
    text-align: center!important;
}
.carve-career-all-section.section.background .default-content-wrapper{
margin-top:0px;
}
.section.background.carve-career-all-section {
height: 450px;
}
.carve-career-all-section.section.background .default-content-wrapper p.button-container{
display: block;
  clear: both;
  text-align:center;
  
}

.carve-career-all-section.section .default-content-wrapper strong {
  font-size: 24px;
}

.integration-free-solutions img {
  width: 70%;
}

.section.contact-us-section.form-container h1 {
  line-height: 0.9;
  text-align: left;
  display: block;
  margin-bottom: 20px;
}



}

@media (min-width: 1400px) {
  main .section.background .default-content-wrapper h3 {
    margin-left: 200px;
  }

  main .section.background .default-content-wrapper h4 {
    margin-left: 200px;
  }
}

@media (min-width: 1600px) {
  main .section.background .default-content-wrapper h3 {
    margin-left: 270px;
  }

  main .section.background .default-content-wrapper h4 {
    margin-left: 270px;
  }
}

/* cls fix */
main .slideshow-wrapper,
main .subnav-container,
main .columns-container {
  opacity: 0;
}

/* mobile code start here */

@media (max-width:480px){
  main .section .default-content-wrapper h1 {
    font-size: 28px;
    margin-top: 10px;
  }

  main .section .default-content-wrapper em {
    font-size: 14px;
    padding-bottom: 0;
    align-content: center;
  }

  a.button:hover, a.button:focus, button:hover, button:focus {
    background: none;
  }

<<<<<<< HEAD
  .clientele-page h2 {
    font-size: 28px;
  }
=======
.innovate-with-us h1#innovate-with-us {
  margin-top: 0px;
}
.section.innovate-with-us {
  padding: 0px 0px;
}
.section.background a {
  color: white;
  font-size: 14px;
}
>>>>>>> 0655b6866731aa9d150692754d4761b242b35e8e

  .clientele-page h4 {
    font-size: 14px;
  }

  .innovate-with-us h1#innovate-with-us {
    margin-top: 0px;
  }

  .section.innovate-with-us {
    padding: 0px 0px;
  }

  .section.background a {
    color: black;
    font-size: 14px;
  }

  main .section .default-content-wrapper p {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    margin-top: 0;
  }

  main .section.background.carve-career .default-content-wrapper {
    margin-left: 0px;
    margin-top: 20px;
  }

  .section.background.carve-career {
    height: 500px;
    margin-top: 50px;
  }

  a.button:any-link, button {
    padding: 5px 0px;
  }

  .section.background.carve-career-all-section img {
      width: 100px;
  }

  .section.background.carve-career-all-section h1{
    color:black;
  }

  .section.background.carve-career-all-section p{
    color:black;  
  }

  .section.background.carve-career-all-section 
  .section.background .default-content-wrapper{
    margin-top:0px;
  }

  main .section.background .default-content-wrapper {
    margin-top: 40px;
    padding-bottom: 30px;
  }

  .section.background.carve-career-all-section {
    margin-top: 30px;
  }
}

