@font-face {
  font-family: argesta-display-fallback;
  src: local("Times New Roman");
  size-adjust: 112.2%;
  ascent-override: 85%;
}

:root {
  /* colors */
  --background-color: #eeeee7;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #313131;
  --nav-background-color: rgba(0 0 0 / 25%);
  --new-text-color: #808080;

  /* fonts */
  --body-font-family: argesta-display, argesta-display-fallback, "Times New Roman", serif;
  --body-font-weight: 300;
  --heading-font-family: var(--body-font-family);
  --heading-font-weight: var(--body-font-weight);
  --alt-font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  --new-body-font: "Helvetica Neue", helvetica, arial, sans-serif;
  --fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 80px;
  --mobile-nav-height: 60px;
}

body {
  font-size: var(--body-font-size-m);
  font-weight: var(--body-font-weight);
  margin: 0;

  /* font-family: var(--body-font-family); */
  font-family: var(--new-body-font);
  line-height: 1.3;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: 1.25;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  font-family: var(--alt-font-family);
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

.new-image-set a {
  font-size: 15px;
}

a:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

main .why-us a {
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  border-radius: 24px;
  display: table;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 11px 30px 12px;
  background-color: #00582e;
  text-decoration: none;
  font-family: var(--alt-font-family);
}

.job-description-page h5 a {
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  border-radius: 24px;
  display: table;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 11px 30px 12px;
  background-color: #00582e;
  text-decoration: none;
  font-family: var(--alt-font-family);
}

main .delivery-feature-list a,
main .plan-list-delivery a {
  font-family: var(--alt-font-family);
}

main .job-description-page p a {
  display: inline;
}

main .online-orders h5 > a {
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  border-radius: 24px;
  display: table;
  margin: 0 auto;
  margin-top: 85px;
  padding: 11px 30px 12px;
  background-color: #00582e;
  text-decoration: none;
  font-family: var(--alt-font-family);
}

main .member-subscriptions h5 > a {
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  border-radius: 24px;
  display: table;
  margin: 0 auto;
  margin-top: 110px;
  margin-bottom: 100px;
  padding: 11px 30px 12px;
  background-color: #00582e;
  text-decoration: none;
}

.privacy-policy-section a:any-link {
  font-family: var(--alt-font-family);
  color: var(--link-color);
  text-decoration: underline;
}

main .history-vision-section h5 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  border-radius: 24px;
  display: table;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 11px 49px 12px 50px;
  background-color: #00582e;
  text-decoration: none;
}

main .why-us h5 {
  text-align: center;
}

main .delivery-feature-list h5:hover,
main .plan-list-delivery h5:hover {
  cursor: pointer;
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link,
button {
  font-family: var(--alt-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 0;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 64px 16px;
}

main img {
  width: 100%;
  height: auto;
}

main .icon svg {
  position: relative;
  top: 4px;
  height: 1rem;
  width: 1rem;
  margin-left: 12px;
}

.payment-term-section h2 {
  font-size: 36px;
}

main h3 .icon svg {
  top: 12px;
  width: 45px;
  height: 45px;
  margin-left: 0;
  margin-right: 12px;
}

.job-description-page a:any-link {
  font-size: 15px;
}

main .background .button-container a {
  all: unset;
  cursor: pointer;
  font-family: var(--alt-font-family);
  font-weight: 200;
}

main .job-description-page a:hover {
  text-decoration: none;
}

main .world-class-cutomer-loyality .cards ul > li p a {
  font-size: 15px;
  font-family: var(--alt-font-family);
  font-weight: bold;
}

main .related-case-studies-component .cards ul > li p a {
  font-size: 15px;
  font-family: var(--alt-font-family);
  font-weight: bold;
}

main .related-case-studies-component .icon-arrow-white {
  position: relative;
  top: 0;
  left: 0;
}

/* section with background */
main .section.background {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #fff;
  padding: 0;
}

main .section.background > picture {
  position: absolute;
  z-index: -1;
  inset: 0 0 -50px;
}

main .integration-free-solutions img {
  margin: 0 auto;
  display: block;
}

main .online-order-logo-section img {
  width: 70%;
  text-align: center;
  display: block;
  margin: 0 auto;
}

main .restaurants-logo img {
  margin: 5px auto;
  width: 20%;
}

main .section.background > picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.job-description-page ol li {
  padding: 6px 0;
}

.privacy-policy-section * ul li {
  font-size: 15px;
  text-align: left;
}

.privacy-policy-section * ol li {
  font-size: 15px;
  text-align: left;
}

.section .default-content-wrapper ul li {
  text-align: left;
  font-family: var(--alt-font-family);
}

.section .default-content-wrapper h1 {
  margin-top: 0;
}

.section .default-content-wrapper em {
  font-style: normal;
}

.section .default-content-wrapper strong {
  font-size: 0.7em;
}

main .background .default-content-wrapper {
  padding-left: 20px;
  margin-top: 50px;
  max-width: 100%;
  padding-right: 20px;
  padding-bottom: 30px;
}

.job-description-page h3 {
  text-align: left;
  border-bottom: 1px solid gray;
  margin-bottom: 40px;
}

main .carve-career h3,
main .carve-career-all-section h3 {
  color: #808080;
  font-size: 28px;
  padding: 0;
}

.section.background > h1 {
  color: #000;
}

.section.carve-career h1 {
  color: #000;
}

main .why-us h2 {
  padding-bottom: 20px;
}

main .job-description-page h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 0;
}

main .clientele-page h2 {
  text-align: center;
}

main .text-wrapped h2 {
  width: 43%;
}

main .online-orders h2 {
  text-align: center;
}

.job-description-page h2:last-child {
  margin-bottom: 37px;
}

.job-description-page h2:nth-child(9) {
  font-size: 30px;
  margin: 50px 0;
}

main .job-description-page:last-child h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 0;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

main .clientele-page h4 {
  text-align: center;
}

main .z-pattern-container h4 {
  text-align: center;
}

main .customer-journey-section h4 {
  text-align: center;
}

.section.integration-free-solutions h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.job-description-page p {
  text-align: left;
  padding: 10px 0;
  line-height: 25px;
  display: inline-block;
  margin: 0;
}

.privacy-policy-section * p {
  font-size: 15px;
  text-align: justify;
}

.payment-term-section p {
  font-size: 15px;
}

main .job-description-page p {
  display: block;
  font-size: 16px;
  text-align: left;
}

main .disclaimer-section p {
  font-size: 15px;
  text-align: left;
}

main .carve-career p {
  color: #000;
  padding: 0 0 100px;
}

main .disclaimer-section * p {
  font-size: 15px;
  text-align: left;
}

main .arrow-icon-style p {
  font-size: 15px;
  text-indent: -13px;
  margin-left: 79px;
}

main .integration-free-solutions p {
  text-align: center;
  font-size: 15px;
}

main .support-services p {
  font-size: 15px;
  text-indent: -13px;
  margin-left: 19px;
}

main .online-orders p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

main .online-orders.member-subscriptions {
  padding: 0;
  text-align: center;
}

main .online-order-logo-section p {
  font-size: 15px;
  text-indent: -13px;
  margin-left: 19px;
}

main .futuristic-product p {
  font-size: 18px;
  text-align: center;
}

main .restaurants-logo p {
  font-size: 28px;
  text-align: center;
}

.job-description-page p:nth-child(8) {
  margin-top: 50px;
}

.section.clientele-page h4 {
  font-size: 24px;
}

main .disclaimer-section * h3 {
  font-size: 18px;
  text-align: left;
}

main .tech-product-section h6 {
  text-align: center;
  font-family: var(--alt-font-family);
  font-size: 24px;
}

main .support-services h6 {
  text-align: center;
  font-family: var(--alt-font-family);
}

main .online-order-logo-section h3 {
  border-bottom: 1px solid #313131;
  padding: 30px 0;
  margin-bottom: 30px;
}

main .section.background h1,
main .section.background h2,
main .section.background h3,
main .section.background h4,
main .section.background h5,
main .section.background h6 {
  font-weight: 400;
}

.job-description-page p:nth-child(3),
.job-description-page p:nth-child(4) {
  text-align: center;
}

.job-description-page p:nth-child(4) {
  text-align: center;
  font-size: 21px;
  color: #fff;
  font-weight: 300;
  border-radius: 24px;
  display: table;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 11px 49px 12px 50px;
  background-color: #00582e;
  text-decoration: none;
}

main .section.background p {
  font-weight: 200;
  font-size: 28px;
}

main .section .default-content-wrapper p {
  gap: 10px;
  margin-top: 0;
}

main.section .default-content-wrapper p {
  display: block;
  text-align: left;
  padding: 0 20px;
  justify-content: left;
  gap: 10px;
  font-size: 0.7em;
}

main .background .carve-career p {
  color: #000;
  padding: 50px 0;
}

main .why-us .default-content-wrapper p {
  font-size: 18px;
  padding: 8px 0;
  margin: 0 3%;
  text-align: center;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main .background .default-content-wrapper h2 {
  text-align: center;
  font-size: 48px;
}

main .align .default-content-wrapper h2 {
  text-align: center;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 1.8em;
}

main .background .default-content-wrapper h2:nth-of-type(2) {
  font-size: 28px;
}

.section.divide {
  padding: 0;
}

.carve-career-all-section .default-content-wrapper strong {
  font-size: 24px;
}

main .section .default-content-wrapper strong {
  font-size: 0.9em;
}

main .section .default-content-wrapper em {
  font-size: 1em;
  padding-bottom: 0;
  align-content: center;
}

main .section .default-content-wrapper h4 {
  padding: 0 20px;
  padding-bottom: 10px;
  font-family: var(--alt-font-family);
}

.legal main .section {
  padding-bottom: 60px;
}

main .background .carve-career h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  max-width: 700px;
  color: gray;
  margin: 0 auto;
  margin-left: 0;
  padding-top: 0;
}

.section.carve-career p em {
  color: gray;
  font-size: 28px;
}

.section.background p:nth-child(1) {
  width: 90px;
  height: 10px;
  margin: 0 auto;
}

main .why-us .icon-arrow-about-cta {
  vertical-align: 13px;
  margin-left: 15px;
  display: initial;
}

.job-description-page ol {
  padding-left: 15px;
}

main .form {
  height: 800px;
  visibility: hidden;
}

@media (min-width: 600px) {
  main .slideshow {
    height: 670px;
  }

  /* main .arrow-icon-style p {
    margin-left: 0;
  } */

  main .subnav-wrapper {
    height: auto;
  }

  main .why-us h4 {
    margin-top: 20px;
    font-family: var(--alt-font-family);
    font-weight: 200;
  }

  main .section {
    padding: 64px 32px;
    padding-bottom: 20px;
  }

  main .background .default-content-wrapper h3 {
    text-align: center;
    font-weight: 400;
    padding-left: 0;
    padding-top: 10px;
  }

  main .career-head-section h4 {
    text-align: center;
    font-size: 48px;
  }

  main .current-opening h4 {
    text-align: center;
    font-size: 48px;
  }

  main .background .default-content-wrapper h4 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding-left: 0;
    color: #fff;
    padding-bottom: 20px;
  }

  .section.innovate-with-us {
    padding: 0;
  }

  main .section .default-content-wrapper em {
    font-size: 24px;
    padding-bottom: 15px;
  }

  main .section .default-content-wrapper h1 {
    font-size: 48px;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
    font-weight: 100;
  }

  /* main .carve-career .default-content-wrapper h1 {
    margin:0px;
  } */

  main .carve-career-all-section .default-content-wrapper h1 {
    font-size: 48px;
    margin-top: 0;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-weight: 100;
    color: #000;
  }

  main .carve-career-all-section p {
    color: #000;
    text-align: center;
  }

  main .carve-career-all-section strong {
    color: #000;
    text-align: center;
    margin: 0 auto;
  }

  main .carve-career-all-section .default-content-wrapper p em {
    font-size: 24px;
    padding-bottom: 15px;
    text-align: center;
  }

  main .carve-career-all-section .default-content-wrapper strong a {
    font-size: 24px;
    padding-bottom: 15px;
    font-weight: 600;
    text-align: center;
  }

  main .carve-career-all-section {
    height: 450px;
  }

  /* main .background .default-content-wrapper {
    margin-bottom: 50px;
  } */

  main .section.divide {
    background-color: #454545;
    padding: 30px;
  }

  main .section .default-content-wrapper h5 {
    font-size: 15px;
    font-weight: 200;
    text-align: left;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 28px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }

  .section > div {
    max-width: 1200px;
    margin: auto;
  }

  main .section.background {
    height: 600px;
  }

  main .section.carve-career {
    height: auto;
  }

  main .section.carve-career-all-section {
    height: auto;
  }

  main .background .default-content-wrapper h2 {
    text-align: left;
  }

  main .cyber-security .default-content-wrapper h2 {
    text-align: center;
  }

  main .background .default-content-wrapper h2:nth-child(1) {
    padding-top: 200px;
    margin-left: 50px;
  }

  main .background .default-content-wrapper h2:nth-child(2) {
    margin-left: 50px;
  }

  main .current-opening p:nth-child(2) {
    text-align: center;
  }

  main .background .default-content-wrapper p:nth-child(3) {
    margin-left: 50px;
  }

  main p.button-container strong a {
    all: unset;
    cursor: pointer;
  }

  main .background .default-content-wrapper em a {
    /* margin-left: 50px; */
    font-size: 15px;
  }

  main .section.background > picture {
    margin-left: -200px;
  }

  main .background .default-content-wrapper > * {
    max-width: 100%;
  }

  main .background .default-content-wrapper h3 {
    text-align: center;
    font-weight: 400;
  }

  main .background .default-content-wrapper h4 {
    text-align: center;
  }

  main .case-studies-custom h3:only-child {
    text-align: center;
  }

  main .background .button-container {
    justify-content: left;
  }

  main .section.divide {
    background-color: #454545;
    padding: 30px;
  }
}

@media (min-width: 1200px) {
  main .background .default-content-wrapper h3 {
    max-width: 66%;
    margin: 0 auto;
  }

  main .background p.button-container {
    display: block;
    clear: both;
  }

  main .section .default-content-wrapper strong {
    font-size: 1em;
  }

  main .section[data-section-status="loading"],
  main .section[data-section-status="initialized"] {
    display: none;
  }

  main .section.highlight {
    background-color: var(--highlight-background-color);
  }

  .default-content-wrapper ol li {
    text-align: left;
    font-size: 15px;
    font-family: var(--alt-font-family);
  }

  .carve-career-all-section img {
    width: 75px;
  }

  .integration-free-solutions img {
    width: 100%;
  }

  main .experience-voucher-image-list div div:nth-child(1) img {
    width: 150px;
    position: relative;
    right: 34px;
  }

  .section .image-list-container div:nth-child(1) img {
    width: 60px;
  }

  .section .image-list-container div:nth-child(2) img {
    width: 60px;
  }

  .section.compliances-logos div:nth-child(5) img {
    width: 60px;
  }

  .section.associations-logos div:nth-child(2) img {
    width: 80px;
  }

  .section.image-list-container div div:nth-child(3) img {
    width: 150px;
    position: relative;
    right: 34px;
  }

  .section.compliances-logos div div:nth-child(4) img {
    width: 100px;
  }

  .section.associations-logos div div:nth-child(3) img {
    width: 80px;
  }

  .section.associations-logos div div:nth-child(5) img {
    width: 80px;
  }

  .section.tech-platform-logo div > div:nth-child(1) img {
    width: 90px;
  }

  .carve-career-all-section h1 {
    color: #000;
  }

  .carve-career-all-section p {
    color: #313131;
    font-size: 24px;
    padding: 0 20%;
    margin: 0 auto;
    text-align: center;
  }

  .carve-career-all-section .default-content-wrapper {
    margin-top: 0;
  }

  .carve-career-all-section .background {
    display: block;
    clear: both;
    text-align: center;
  }

  main .form-container h1 {
    text-align: left;
  }
}

main .slideshow-container,
main .subnav-container {
  padding: 0;
}

main .slideshow-container {
  background-color: rgba(0 0 0 / 25%);
}

main .subnav-container {
  border-bottom: 1px solid #616161;
}

main .slideshow {
  height: 370px;
}

main .subnav-wrapper {
  max-height: 130px;
}

main .slideshow-wrapper,
main .subnav-wrapper,
main .columns-container {
  opacity: 0;
}

main .carve-career h3:nth-child(4) {
  font-size: 15px;
  padding: 30px 0;
}

main .carve-career-all-section h3:nth-child(4) {
  font-size: 15px;
  text-decoration: none;
  padding: 30px 0;
}

main .highest-standard-text {
  text-align: center;
}

main .online-order-logo-section .columns > div > div {
  border: none;
}

main .customer-journey-section .new-image-set > ul li {
  list-style: disc;
  font-size: 13px;
}

main .customer-journey-section .new-image-set > ul {
  margin-left: -22px;
  padding: 0 60px;
}

main .customer-journey-section .columns > div > div {
  border: none;
  border: 1px solid #4e4e4e;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 380px;
  margin: 0 30px 50px;
  box-shadow: 5px 5px 5px #0000002b;
}

main .restaurants-logo .columns > div > div {
  border: none;
  text-align: center;
}

main .customer-journey-section .columns > div > div:first-child {
  margin-top: 0;
}

main .customer-journey-section .columns > div > div:last-child {
  margin-top: 0;
}

main .customer-journey-section .new-image-set h3 {
  font-size: 18px;
  padding-left: 25px;
  margin-top: 20px;
}

main .customer-journey-section .new-image-set {
  position: relative;
  inset: 0;
}

main .customer-journey-section .new-image-set > h5 {
  text-align: center;
  position: absolute;
  right: 0;
  height: 10px;
  display: inline;
  color: #fff;
  width: 40px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #00582e;
  bottom: 0;
  border: 1px solid #4e4e4e;
  border: none;
  padding: 8px 15px;
  padding-bottom: 28px;
  border-right: 0;
}

@media (max-width: 600px) {
  /* .carve-career-all-section img {
    width: 100px;
    position: relative;
    top: -42px;
  } */

  .privacy-policy-section * p {
    font-size: 14px;
    text-align: left;
  }

  .carve-career-all-section p {
    color: #313131;
    font-size: 24px;
    padding: 8px 0;
    margin: 0 auto;
    text-align: center;
  }

  main .arrow-icon-style p {
    margin-left: 0;
  }

  main .carve-career-all-section {
    text-align: center;
    margin-top: 0;
  }

  .clientele-page h4 {
    font-size: 14px;
  }

  main .tech-platform-logos h4 {
    text-align: center;
    font-size: 22px;
  }

  main .cyber-security h4 {
    text-align: center;
  }

  main .compliances-logos h4 {
    text-align: center;
  }

  main .career-head-section h4 {
    text-align: center;
  }

  main .current-opening h4 {
    text-align: center;
  }

  .section.integration-free-solutions h4 {
    font-size: 22px;
  }

  main .history-vision-section h5 {
    padding: 6px 30px 12px;
    background-color: #00582e;
    text-decoration: none;
    font-family: var(--alt-font-family);
    margin-top: 20px;
  }

  main .section {
    padding: 20px 16px;
  }

  .carve-career-all-section h1 {
    color: #000;
  }

  main .integration-free-solutions h1 {
    text-align: center;
  }

  main .icon svg {
    position: relative;
    top: 12px;
    margin: 0 auto;
  }

  main .carve-career-all-section a {
    color: var(--new-text-color);
  }

  main .online-orders h5 > a {
    margin-top: 31px;
    margin-bottom: -50px;
  }

  main .job-description-page p a {
    display: contents;
  }

  .section.background a {
    font-size: 16px;
    padding-top: 10px;
  }

  .carve-career .default-content-wrapper p a {
    color: #000;
  }

  main .carve-career img {
    width: 80%;
  }

  main .world-class-cutomer-loyality .cards ul > li p a {
    font-size: 12px;
    font-family: var(--alt-font-family);
    font-weight: bold;
  }

  main .restaurants-logo img {
    margin: 5px auto;
    width: 29%;
  }

  main .online-order-logo-section > div:nth-child(3) > div div {
    flex-direction: column-reverse;
  }

  main .online-order-logo-section > div:nth-child(5) > div div {
    flex-direction: column-reverse;
  }

  main .mobile-pattern .columns > div:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-m);
    margin-bottom: var(--spacing-m);
  }

  main .mobile-pattern .columns > div:nth-child(4) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-m);
    margin-bottom: var(--spacing-m);
  }

  main .mobile-pattern .columns > img > div:nth-child(1) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-m);
    margin-bottom: var(--spacing-m);
  }

  main .member-subscriptions h5:last-child {
    margin-bottom: 50px;
  }

  .privacy-policy-section * ul li,
  .privacy-policy-section * ol li {
    font-size: 14px;
    text-align: left;
  }

  main .job-description-page ol li {
    font-size: 14px;
  }

  .payment-term-section h2 {
    font-size: 22px;
  }

  .privacy-policy-section h2 {
    font-size: 22px;
  }

  .clientele-page h2 {
    font-size: 28px;
    text-align: center;
  }

  main .online-orders h2 {
    text-align: center;
    font-size: 28px;
  }

  main .disclaimer-section * h2 {
    font-size: 22px;
    text-align: left;
  }

  main .text-wrapped h2 {
    width: 100%;
  }

  main .world-class-cutomer-loyality h2 {
    font-size: 21px;
    margin-top: 25px;
  }

  main .job-description-page:last-child h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: var(--heading-font-family);
  }

  main .online-order-logo-section img {
    width: 60%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
  }

  main .privacy-policy-section > ul {
    padding: 0;
    margin: 0;
  }

  main .customer-journey-section h1 {
    text-align: center;
  }

  main .online-order-logo-section p {
    font-size: 15px;
    text-indent: -13px;
    margin-left: 19px;
    text-align: left;
    font-family: var(--body-font-family);
  }

  .online-order-logo-section {
    order: 2;
  }

  main .support-services h1 {
    text-align: center;
    font-size: 14px;
  }

  main .support-services h6 {
    text-align: center;
    font-size: 22px;
  }

  main .tech-product-section h1 {
    text-align: center;
  }

  main .compliances-logos h1 {
    text-align: center;
  }

  main .tech-platform-logos h1 {
    text-align: center;
    font-size: 22px;
  }

  main .logos-integration h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  main .carve-career-all-section h1 {
    text-align: center;
    display: block;
  }

  main .associations-logos h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  main .disclaimer-section * h3 {
    font-size: 22px;
    text-align: left;
  }

  main .carve-career h3 {
    font-size: 24px;
    padding: 0 20px;
    text-align: center;
  }

  main .carve-career-all-section h3 {
    font-size: 24px;
    padding: 0 20px;
    text-align: center;
  }

  main .carve-career h3:nth-child(4) {
    font-size: 15px;
    padding: 20px 0;
  }

  main .carve-career h1 {
    text-align: center;
  }

  main .disclaimer-section * p {
    text-align: justify;
  }

  .section.clientele-page h4 {
    font-size: 15px;
    text-align: center;
  }

  main .cyber-security .default-content-wrapper h2 {
    font-size: 22px;
  }

  main .fragment-container p {
    font-size: 14px;
  }

  main .online-orders p {
    padding: 0 20px;
  }

  main .cards p:first-of-type {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
  }

  main .section .default-content-wrapper h3 {
    padding: 0 20px;
  }

  main .carve-career-all-section .default-content-wrapper h1 {
    font-size: 24px;
    padding: 0 20px;
    text-align: center;
  }

  main .carve-career .default-content-wrapper h1 {
    font-size: 24px;
    padding: 0 20px;
    text-align: center;
  }

  main .carve-career-all-section h3:nth-child(4) {
    font-size: 15px;
    padding: 0;
  }

  main .section.background {
    height: auto;
  }

  main .background .default-content-wrapper {
    padding-left: 20px;
    margin-top: 25px;
    max-width: 100%;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  main .section .default-content-wrapper p {
    display: flex;
    justify-content: left;
    gap: 10px;
    font-size: 15px;
    margin-top: 0;
  }

  .section.carve-career-all-section p:nth-child(1) {
    display: inline-block;
  }

  .section.background p:nth-child(1) {
    width: 90px;
    height: 0;
    display: block;
    margin-bottom: -25px;
  }

  main .online-orders [id^="m"] {
    margin-top: 1px;
    font-size: 28px;
  }

  main .futuristic-product .default-content-wrapper h1 {
    text-align: center;
    font-size: 28px;
  }

  main .section .default-content-wrapper em {
    font-size: 14px;
    padding-bottom: 0;
    align-content: center;
  }

  a.button:hover,
  a.button:focus,
  button:hover,
  button:focus {
    background: none;
  }

  .innovate-with-us h1#innovate-with-us {
    margin-top: 0;
  }

  .section.innovate-with-us {
    padding: 0;
  }

  main .background.carve-career {
    margin-left: 0;
    margin-top: 20px;
  }

  .main .carve-career {
    height: 500px;
    margin-top: 50px;
  }

  .main .carve-career-all-section img {
    width: 100px;
  }

  main .carve-career-all-section .default-content-wrapper {
    padding-bottom: 30px;
    margin-top: 0;
    padding-top: 0;
  }

  .section.why-us {
    padding: 46px 16px 10px;
  }

  main .subnav-container {
    width: 94%;
    margin: 0 auto;
  }
}
