body {
  padding-top: 0px;
  padding-bottom: 20px;
}




/*code*/



 .marketing{
  background-color: #000;
  padding: 10px;
  color:white;
  font-size: 21px;
  text-align: center;
  
 }

 .logo-detail{
  margin:30px 0px 0px 20px;
  display: block;
 }
 
 .header-detail img{
  margin:30px 0px 0px 0px;
  display: block;
  margin: 0 auto;
 }



 .simple-regist-form p{
    font-size: 18px;
    margin-top: 35px;
    font-weight: 600;
 }
.footer-detail small{
  color:#000;
  margin-top: 20px;
  font-family: sans-serif;
}
.form-control{
  border-radius: 0px!important;
}
.btn-danger {
    color: #fff;
    background-color:#000 !important;
    border-color: #000;
    border-radius: 0px;
}


.btn-danger:hover {
    color: #fff;
    background-color: #000 !important;
    border-color: #000!important;
}

.btn-danger:active {
    color: #fff;
    background-color: #000!important;
    border-color: #000!important;
}
.btn-danger:focus {
    color: #fff;
    background-color: #000!important;
    border-color: #000!important;
}

.tp{
  margin-top: 20px;
}



@media (min-width: 700px) {
  .container {
    max-width: 700px;
  }
}
