:root {
  --overlay-background-color: var(--nav-background-color);
  --overlay-link-color: #002246;
  --overlay-link-hover-color: #013367;
  --slideshow-nav-background: #0006;
  --heading-font-size-s: 20px;
}

main .slideshow-container {
  background-color: transparent;
}

main .slideshow-container > div.slideshow-wrapper {
  opacity: 1;
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

main .slideshow {
  display: flex;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  height: 370px;
}

main .slideshow.slideshow-transition {
  scroll-behavior: smooth;
}

main .slideshow::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* slide */
main .slideshow > div,
main .slideshow .slideshow-slide {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  overflow-y: hidden;
}

main .slideshow > div > * {
  margin: 0;
  padding: 0;
  text-align: center;
}

main .slideshow picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .slideshow > div picture {
  display: block;
}

/* sections inside slide */
main .slideshow > div > div {
  margin: 0;
  padding: 0;
}

main .member-subscription-slide h2 {
  color: #313131;
}

main .member-subscription-slide p {
  color: #313131;
  font-size: 15px;
}

main .slideshow > div > p {
  position: relative;
}

/* slideshow img */
main .slideshow .slideshow-img {
  position: relative;
  height: 100%;
  width: 100%;
}

main .slideshow img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: right;
}

/* overlay */
main .slideshow .slideshow-overlay {
  display: flex;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
  padding: 0 40px 30px;
  height: 100%;
  width: 100%;
  color: white;
  background: unset;
  background: linear-gradient(180deg, transparent 0%, var(--overlay-background-color) 100%);
}

main .slideshow .slideshow-overlay h1,
main .slideshow .slideshow-overlay h2 {
  font-size: 20px;
  text-align: center;
  overflow-y: hidden;
  margin-top: 0;
}

main .member-subscription-slide.slideshow-container p {
  width: 100%;
  margin: 5px 0;
}

main .member-subscription-slide .slideshow-overlay {
  justify-content: left;
  padding: 0 80px;
  display: block;
  background: none;
  position: absolute;
  top: 40%;
}

main .slideshow .slideshow-btn-wrapper {
  margin: var(--spacing-s) var(--spacing-xs);
}

main .slideshow .slideshow-btn {
  background: var(--overlay-link-color);
  color: var(--background-color);
  font-size: var(--body-font-size-s);
  text-transform: uppercase;
}

main .slideshow .slideshow-btn::after {
  content: " ";
  padding: 0;
}

main .slideshow .slideshow-btn:hover {
  background: var(--overlay-link-hover-color);
}

/* slider */
main .carousel-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}

main .carousel-buttons button {
  display: block;
  height: 14px;
  width: 14px;
  padding: 0;
  margin: 10px;
  border-radius: 7px;
  background-color: #ccc;
  border: 1px solid #fff;
  opacity: 0.5;
}

main .carousel-buttons button.selected {
  background-color: #000;
}

main .carousel-buttons button:nth-child(5) {
  display: none;
}

main .member-subscription-slide button:nth-child(3) {
  display: none;
}

main .carousel-buttons button:nth-child(3){
  display: none;
}


@media screen and (width <= 1366px) and (width <= 1439px){
	main .slideshow-container {
    background-color: transparent;
    zoom:80%;
    padding:0;
  }
}

@media (width >= 600px) {
  main .slideshow {
    /* height: 670px; */
    min-height: 74vh;
  }

  main .slideshow .slideshow-overlay {
    justify-content: left;
    align-items: center;
    padding: 0 80px;
  }

  main .slideshow .slideshow-overlay h1,
  main .slideshow .slideshow-overlay h2 {
    font-size: var(--heading-font-size-xl);
    text-align: left;
  }

  main .slideshow .slideshow-overlay > * {
    max-width: 50vw;
    text-align: left;
  }

  main .member-subscription-slide .slideshow-overlay > * {
    max-width: 45vw;
    text-align: left;
  }
}

@media (width <= 600px) {
  main .member-subscription-slide .slideshow-overlay {
    justify-content: left;
    padding: 0 10px;
    display: block;
    background: none;
    position: absolute;
    top: 15%;
    width: 300px;
  }

  main .member-subscription-slide.slideshow-container p {
    width: 63%;
    margin: 5px 0;
    font-size: 12px;
  }

  main .member-subscription-slide.slideshow-container h1 {
    text-align: left;
    margin-top: -12px;
  }

  main .member-subscription-slide .slideshow-slide {
    margin-top: 50px;
  }

  main .member-subscription-slide .slideshow-container p {
    width: 100%;
    margin: 5px 0;
  }

  main .member-subscription-slide .slideshow > div,
  main .member-subscription-slide .slideshow-slide {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    overflow-y: hidden;
  }

  main .slideshow .slideshow-overlay {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    padding: 0 0 10px;
    height: 100%;
    width: 100%;
    color: white;
    background: unset;
    background: linear-gradient(180deg, transparent 0%, var(--overlay-background-color) 100%);
  }
	
  main .slideshow .slideshow-overlay h1,
  main .slideshow .slideshow-overlay h2 {
  font-size: 24px;
  text-align: center;
  overflow-y: hidden;
  margin-top: 0;
}

main .carousel-buttons {
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

main .slideshow-container {
  background-color: transparent;
  zoom:90%;
  padding:0;
}

/* main .slideshow img:nth-child(1) {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: -112vw;
  object-fit: cover;
  width:242vw;
}
main .slideshow img:nth-child(2) {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: -112vw;
  object-fit: cover;
  width:242vw;
} */

main .slideshow img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: right;
}



}